
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" media="screen" href="~/Content/themes/base/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#list").jqGrid({
            url: '/Order/GetList',
            datatype: "json",
            colNames: ['id', 'Імя замовника', 'Адреса', 'Тип доставки', 'Тип оплати'],
            colModel: [
                { name: 'Id', index: 'Id', hidden: true },
                { name: 'Name', index: 'Name', width: 150 },
                { name: 'Adress', index: 'Adress', width: 150 },
                { name: 'DiliveryType_Name', index: 'DiliveryType_Name', width: 150 },
                { name: 'PaymentType_Name', index: 'PaymentType_Name', width: 150 },
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager',
            sortname: 'name',
            viewrecords: true,
            sortorder: "desc",
            onSelectRow: function () {
            },
            ondblClickRow: function (rowid) {
                //var rows = $("#list").jqGrid('getCol', 'Id');

                //AddEdit(rows[rowid - 1]);
            }
        });
    });
</script>

<h1>Замовлення</h1>
@*<input type="button" value="Додати нове значення" onclick="AddEdit()" />*@
<div style="height:10px"></div>
<table id="list"></table>
<div id="pager"></div>
